<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xuehu.aj.anzhi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 安智权限Start -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.webkit.permission.PLUGIN" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="com.tencent.mtt.extension.Player" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FIND_LOCATION" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <!-- 安智权限End -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_uc"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 游戏本身界面 -->
        <activity
            android:name="uld.game.unite.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uld.game.unite.PlayGameActivity"
            android:screenOrientation="landscape" />
        <!-- 安智Activity Start -->
        <activity
            android:name="com.anzhi.usercenter.sdk.LogoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/Transparent" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.UserCenterMainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.UserDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.RegisterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.UpdateStarActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.UpdateQQActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.UpdateNickActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.AnzhiCurrencyActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.PwdSettingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.AnzhiMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.PwdSettingClearActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.AccountSafeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.BindTelActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.UnbindTelActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.CurrencyChargeWebViewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.ChargeHistoryWebViewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.ConsumHistoryWebViewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.GameChargeWebViewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.OrderRecodeWebViewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.FeedbackWebViewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.OpenLoginforQQActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.OpenLoginforWeiboActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.BindEmailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.UnbindEmailActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.FindPwdActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.LoadingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.UcenterOfficialLoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <!--
===================================== 华 丽 的 分 割 线
========================================
        -->
        <activity
            android:name="com.anzhi.usercenter.sdk.ModifyPwdActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.ResetPwdActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.FindAccountFailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.NoticeDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.GameCenterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.AnzhiGameBbsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.GameGiftActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.GiftBagDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.anzhi.usercenter.sdk.GiftbagRecordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask" >
        </activity>

        <receiver android:name="com.anzhi.usercenter.sdk.control.NetListenerReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.anzhi.usercenter.sdk.control.LogoutReceiver" >
            <intent-filter>
                <action android:name="anzhi.usercenter.aciton.userlogout" />
            </intent-filter>
        </receiver>
        <!-- 以下是银联支付插件 -->
        <activity
            android:name="com.unionpay.upomp.tbow.paymain"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.unionpay.upomp.tbow.activity.Pm"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.tbow.activity.Pi"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.tbow.activity.Pr"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.tbow.activity.Mk"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.FloatActivity" />
        <activity
            android:name="com.unionpay.upomp.tbow.activity.Um"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.tbow.activity.Ur"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.tbow.activity.Up"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.tbow.activity.Ui"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.tbow.activity.Ua"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.tbow.activity.Cm"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.tbow.activity.Car"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.tbow.activity.Ca"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.tbow.activity.Cbr"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.tbow.activity.Cb"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.tbow.activity.Ci"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <!-- 安智Activity End -->
    </application>

</manifest>