<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xuehu.aj.wdj"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_uc"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 游戏本身界面 -->
        <activity
            android:name="uld.game.unite.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uld.game.unite.PlayGameActivity"
            android:screenOrientation="landscape" />

        <!-- 豌豆荚Start -->
        <activity
            android:name="com.wandoujia.login.LoginActivity"
            android:screenOrientation="landscape"
            android:theme="@style/DialogActivity" >
        </activity>
        <activity
            android:name="com.wandoujia.login.RegisterActivity"
            android:screenOrientation="landscape"
            android:theme="@style/DialogActivity" >
        </activity>
        <activity
            android:name="com.wandoujia.paysdkimpl.PayActivity"
            android:screenOrientation="landscape"
            android:theme="@style/WandoujiaTheme.Base.Light.Transparent" >
        </activity>
        <activity
            android:name="com.wandoujia.paysdkimpl.HelpActivity"
            android:screenOrientation="landscape"
            android:theme="@style/WandoujiaTheme.Base.Light.Dialog" >
        </activity>
        <activity
            android:name="com.wandoujia.paysdkimpl.ShenzhouActivity"
            android:screenOrientation="landscape"
            android:theme="@style/WandoujiaTheme.Base.Light.Transparent" >
        </activity>
        <activity
            android:name="com.wandoujia.paysdkimpl.AlipayWapActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.wandoujia.account.sdk.activity.AccountSDKActivity"
            android:configChanges="orientation|keyboardHidden|keyboard" >
        </activity>
        <!-- 豌豆荚End -->
    </application>

    <!-- 豌豆荚权限Start -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 豌豆荚权限End -->

</manifest>