<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xuehu.aj.sougou"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <!-- 搜狗游戏SDK必要权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="gid"
            android:value="\0184" />
        <meta-data
            android:name="appKey"
            android:value="\03e82a6088a3e4a5aaf056db742b05c2abba34792dbe83078c92c3f81f7d106c1" />
        <meta-data
            android:name="gameSecret"
            android:value="\0759600933d434d99f39819b79553B6e7" />

        <!-- 游戏本身界面 -->
        <activity
            android:name="uld.game.unite.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uld.game.unite.PlayGameActivity"
            android:screenOrientation="landscape" />

        <!-- 搜狗游戏SDK配置 -->
        <activity
            android:name="com.sogou.gamecenter.sdk.SogouProgressDialog"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.sogou.gamecenter.sdk.SogouLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.sogou.gamecenter.sdk.SogouRegActivity"
            android:configChanges="keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sogou.gamecenter.sdk.SogouPayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sogou.gamecenter.sdk.SogouAgreeActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowBackground="@null"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" />
        <activity
            android:name="com.sogou.gamecenter.sdk.SogouThirdLoginActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowBackground="@null"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.sogou.gamecenter.sdk.SogouAliwapActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowBackground="@null"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.sogou.gamecenter.sdk.SogouPayRecordActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowBackground="@null"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.sogou.gamecenter.sdk.SogouFeedBackActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowBackground="@null"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.sogou.gamecenter.sdk.SogouFeedBackRecordActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowBackground="@null"
            android:windowSoftInputMode="stateHidden|adjustResize" />

    </application>

</manifest>