<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xuehu.aj.lenovo"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Lenovo 权限开始 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
    <!-- 权限添加请参考Lenovo ID for android 应用开发指南.doc和document/联想微支付平台Android SDK使用文档_V3.3.5.pdf -->
    <!-- common -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- sms pay -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- lenovo -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" >
    </uses-permission>
    <uses-permission android:name="android.permission.RESTART_PACKAGES" >
    </uses-permission>

    <!-- 易联 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Lenovo 权限结束 -->

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
       	<!-- meta-data -->
        <meta-data
            android:name="appid"
            android:value="\020026200000001200262" />
        <meta-data
            android:name="appkey"
            android:value="\0OEQ2QTVFMTU5RDI2NzAyMTQyNzRGNkYwQUFCNjBCMTAyRUFCMEY3OU1UTXpPVE16TlRneU56ZzVOamcwTXpjeE56TXJNVEl3TVRBMU16ZzBOekkzTWpFNE9EY3dNREl6TWpreE1UYzRNVE13TURnNE9EYzRNell4" />
        <meta-data
            android:name="gameSecret"
            android:value="\0759600933d434d99f39819b79553B6e7" />
        <meta-data
            android:name="isThirdPartyLoginHide"
            android:value="hiden" >
        </meta-data>
        <meta-data
            android:name="lenovoid:realm"
            android:value="10000630.realm.lenovoidapps.com" />
        <meta-data
            android:name="lenovoid:threadPatyAppName"
            android:value="傲剑" />
        <!-- 配置欢迎浮动工具栏显示时间（0到10秒）时间>10则按照默认5秒显示，时间<=0则不显示欢迎浮动工具栏，不做配置将默认显示5秒 -->
        <meta-data
            android:name="lenovoid:welcomeFrame"
            android:value="-1" />
        <meta-data
            android:name="lenovo:isTestMode"
            android:value="true" />
        <meta-data
            android:name="lenovo:applicationToken"
            android:value="MIOXIOMAUA90" />
        <meta-data
            android:name="threadPatyAppName"
            android:value="傲剑" />
       	<!-- meta-data -->
        
        <!-- 游戏本身界面 -->
        <activity
            android:name="uld.game.unite.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="lenovoid.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>
        <activity
            android:name="uld.game.unite.PlayGameActivity"
            android:screenOrientation="landscape" />

        <!-- Lenovo sdk界面 -->
        <!-- 支付配置开始 -->
        <activity
            android:name="com.lenovo.mpay.ifmgr.PayManagerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <!-- 银联 -->
        <activity
            android:name="com.unionpay.upomp.bypay.activity.SplashActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.bypay.activity.CardMainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.bypay.activity.PayMainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.bypay.activity.PayItActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.bypay.activity.PayResultActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.bypay.activity.AccountMainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.bypay.activity.ChooseBankActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.bypay.activity.LoginActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.bypay.activity.RegisterActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.bypay.activity.GetpassActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.bypay.activity.ResetpassActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.bypay.activity.EditpassActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.bypay.activity.EditinfoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.bypay.activity.AddCardActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.bypay.activity.AddCardFromAuthActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.bypay.activity.UserProtocalActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.bypay.activity.CheckCardBalanceActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.bypay.activity.CardInfoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.bypay.activity.CardBalanceResultActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.unionpay.upomp.bypay.activity.CardBankResultActivity"
            android:screenOrientation="landscape" />
        <!-- 一键支付 -->
        <activity
            android:name="com.fastpay.sdk.activity.FastPay"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 易联 -->
        <activity
            android:name="com.payeco.android.plugin.PayecoPluginLoadingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.payeco.android.plugin.PayecoOrderDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.payeco.android.plugin.PayecoPayResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.payeco.android.plugin.PayecoWebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.payeco.android.plugin.PayecoRiskControlActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 易联 -->
        <!-- 支付配置结束 -->


        <!-- lenovo id 配置开始 -->


        <!-- 配置splash界面 -->
        <!-- WelcomeActivity必须通过android:screenOrientation属性来配置splash界面强制横屏或竖屏，默认横屏 -->
        <activity
            android:name="com.lenovo.lsf.account.WelcomeActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 配置splash界面完毕 -->

        <activity
            android:name="com.lenovo.lsf.account.PsUserSettingActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.USERSETTING" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lenovo.lsf.account.PsLoginActivity"
            android:label="@string/com_lenovo_lsf_ui_name"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:theme="@style/com_lenovo_lsf_ui"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.LOGINREGISTER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="org.xuehu.aj.lenovo.openapp.lenovoid" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lenovo.lsf.account.ChangePasswordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/com_lenovo_lsf_ui_name"
            android:theme="@style/com_lenovo_lsf_ui"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.CHANGEPASSWORD" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lenovo.lsf.account.ForgetPasswordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/com_lenovo_lsf_ui_name"
            android:theme="@style/com_lenovo_lsf_ui"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.FORGETPASSWORD" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lenovo.lsf.account.ForgetResultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/com_lenovo_lsf_ui_name"
            android:theme="@style/com_lenovo_lsf_ui" >
            <intent-filter>
                <action android:name="android.intent.action.FORGETRESULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lenovo.lsf.account.MyAccountActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/com_lenovo_lsf_ui_name"
            android:theme="@style/com_lenovo_lsf_ui" >
            <intent-filter>
                <action android:name="android.intent.action.MYACCOUNT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lenovo.lsf.account.AccountBindingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/com_lenovo_lsf_ui_name"
            android:theme="@style/com_lenovo_lsf_ui"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.lenovo.lsf.account.ThirdLoginWebView"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/com_lenovo_lsf_ui_name"
            android:theme="@style/com_lenovo_lsf_ui"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.lenovo.lsf.account.WebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/com_lenovo_lsf_ui_name"
            android:theme="@style/com_lenovo_lsf_ui"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.lenovo.lsf.account.KeyLoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- Lenovo sdk界面 -->
    </application>

</manifest>