<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xuehu.aj.mi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 小米begin -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 小米end -->


    <!-- 快捷支付 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 快捷支付 -->


    <!--
         如果渠道是小米，
    	请在application 加点中加入
    	android:name="uld.sdk.others.SdkXiaoMi"
    -->
    <application
        android:name="uld.sdk.others.SdkXiaoMi"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_uc"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 游戏本身界面 -->
        <activity
            android:name="uld.game.unite.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uld.game.unite.PlayGameActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />

        <!-- 小米begin -->
        <!--
由于在4.0系统下 orientation属性单独使用不会生效需要
android:configChanges="orientation|screenSize
设置才可以，所以尽量在android sdk 4.0以上环境开发
        -->
        <meta-data
            android:name="uldAppId"
            android:value="\021051" />
        <meta-data
            android:name="uldAppKey"
            android:value="30bef3ea-5548-457e-fb5a-52771c47dc07" />

        <activity
            android:name="com.xiaomi.gamecenter.sdk.ui.MiActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- 小米end -->
        <!-- 支付宝钱包 -->
        <activity
            android:name="com.alipay.android.app.sdk.WapPayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- 支付宝钱包 -->

    </application>

</manifest>